<div class="container text-center">
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-sm-inline">
            Estuard Juarez Ruiz
            <!-- <strong>Copyright &copy; <span id="currentYear"></span> Softpre Intelligent. Todos los derechos reservados.</strong> -->
        </div>
        <!-- Default to the left -->

        <strong>Copyright &copy; <span id="currentYear"></span> Softpre Intelligent. Todos los derechos reservados.</strong>

    </footer>
</div>