{% extends "./sidebar.html" %}
{% block title %} Reportes de Diagnósticos {% endblock %}
{%block body%}
{% load static %}

<div class="content">
    <section class="content-report">
        <h2>Reportes Médicos</h2>
        <hr>
        <div class="row">
            <section>
                <div class="table-responsive">
                    <table id="tablaReportes" class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Médico</th>
                                <th>Paciente</th>
                                <th>Fecha</th>
                                <th>Posibilidad de Riesgo</th>
                                <th>Tiempo Promedio de Detección</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if request.user.is_superuser %}
                            {% for r in reportes%}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ r.personal }}</td>
                                <td>{{ r.paciente }}</td>
                                <td>{{ r.fecha_prediccion|date:"d-m-Y" }}</td>
                                <td>
                                    {% if r.nivelriesgo == 'No Preeclampsia' %}
                                    <span class="badge bg-success">{{ r.nivelriesgo }}</span>
                                    {% elif r.nivelriesgo == 'Preeclampsia' %}
                                    <span class="badge bg-info">{{ r.nivelriesgo }}</span>
                                    {% elif r.nivelriesgo == 'Leve' %}
                                    <span class="badge bg-warning">{{ r.nivelriesgo }}</span>
                                    {% elif r.nivelriesgo == 'Severa' %}
                                    <span class="badge bg-danger">{{ r.nivelriesgo }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ r.tiempo_deteccion_formateado }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <!-- Si el usuario es médico, muestra solo sus reportes -->
                            {% for r in reportes %}
                            {% if r.paciente.personal == request.user.personal %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ r.personal }}</td>
                                <td>{{ r.paciente }}</td>
                                <td>{{ r.fecha_prediccion|date:"d-m-Y" }}</td>
                                <td>
                                    {% if r.nivelriesgo == 'No Preeclampsia' %}
                                    <span class="badge bg-success">{{ r.nivelriesgo }}</span>
                                    {% elif r.nivelriesgo == 'Preeclampsia' %}
                                    <span class="badge bg-info">Posible desarrollo de preeclampsia</span>
                                    {% elif r.nivelriesgo == 'Leve' %}
                                    <span class="badge bg-warning">Riesgo Leve</span>
                                    {% elif r.nivelriesgo == 'Severa' %}
                                    <span class="badge bg-danger">Riesgo Severo</span>
                                    {% endif %}
                                </td>
                                <td>{{ r.tiempo_deteccion_formateado }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </tbody>    
                    </table>
                </div>
            </section>
        </div>
    </section>
</div>

<!-- Scripts -->
<script src="{% static 'assets/js/scripts/reporte.js' %}"></script>

{%endblock%}