@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Login */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Tahoma;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 100px #0B62E0 inset;  
}

input:-webkit-autofill {
  -webkit-text-fill-color: #FFF;
  -webkit-text-size-adjust: 16px;
}

.fa-user {
  color: #FFF;
}

.fa-lock {
  color: #FFF;
}

.fa-id-card {
  color: #FFF;
}

.fa-eye {
  color: #FFF;
}

.fa-eye-slash {
  color: #FFF;
}


p {
  padding: 8px;
  margin: 0;
}

.btn {
  margin: 0 0 10px;
}

.password-toggle {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.password-toggle2 {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none; /* Ocultar por defecto */
}

/* .password-toggle.active {
  display: block; 
}

.password-toggle2.active {
  color: #030104; 
} */

/* .password-toggle.active {
  color: #030104;
} */

.fa-lock {
  display: block;
}

.password-toggle {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url(../img/mar.jpg) no-repeat; */
  /* background: #0B62E0; */
  /* background: linear-gradient(to bottom, #0B62E0, #2E50A4); */
  /* background: linear-gradient(to left, #c5d6ff, #0B62E0); */
  background: radial-gradient(#FFF, #0B62E0);

  /* background: #2E50A4; */
  background-size: cover;
  background-position: center;
}

#form-container {
  width: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/*----- OPCION 1 -----*/
/* #form-login {
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(85px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 12px 12px;
} */
/*--------------------*/


/*----- OPCION 2 -----*/
#form-login {
  width: 100%;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(85px);
  /* box-shadow: 0 0 20px rgb(255, 255, 255); */
  box-shadow: 0 0 25px rgb(46,80,164);
  color: #0B62E0;
  border-radius: 10px;
  padding: 12px 12px;
}
/*--------------------*/


.logo-img {
  filter: drop-shadow(0 0 15px #0B62E0);
  /* animation: rotate 5s infinite; */
  /* animation-play-state: paused;   */
}

/* .logo-img.animate {
  animation-play-state: running;
} */

/* @keyframes rotate {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
} */

.logo-img:hover {
  transform: scale(1.1);
}

#form-login .logo-img {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 8px 8px 8px 8px;
}

#form-login a {
  color: #0B62E0;
  text-decoration: none;
}

#form-login a:hover {
  text-decoration: underline;
}

#form-login h1 {
  font-size: 36px;
  text-align: center;
  padding: 8px 8px 8px 8px;
}

#form-login h3 {
  font-size: 25px;
  text-align: center;
}

#form-login .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

/*----- OPCION 1 -----*/
/* #form-login .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
} */
/*--------------------*/

/*----- OPCION 2 -----*/
#form-login .input-box input {
  width: 100%;
  height: 100%;
  background: #0B62E0;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  font-size: 16px;
  color: #FFF;
  padding: 20px 45px 20px 20px;
}
/*--------------------*/

#form-login .input-box input::placeholder {
  color: #FFF;
}

#form-login .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

#form-login .input-box span {
  position: absolute;
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/*----- OPCION 1 -----*/
/* #form-login .btn {
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  color: #0B62E0;
  font-weight: 600;
} */

/*----- OPCION 2 -----*/
#form-login .btn {
  width: 100%;
  height: 50px;
  background: #fff;
  border: #0B62E0;
  outline: auto;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(11, 100, 224);
  cursor: pointer;
  font-size: 20px;
  color: #0B62E0;
  font-weight: 600;
}

#form-login .btn:hover {
  background: #0B62E0;
  color: #FFF;
}

#form-container #form-register {
  width: 700px;
}

/*----- OPCION 1 -----*/
/* #form-register {
  width: 425px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(85px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
} */
/*--------------------*/

/*----- OPCION 2 -----*/
#form-register {
  width: 425px;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(85px);
  /* box-shadow: 0 0 20px rgb(255, 255, 255); */
  box-shadow: 0 0 25px rgb(46,80,164);
  color: #0B62E0;
  border-radius: 10px;
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
}
/*--------------------*/

#form-register .register-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-register .register-left .logo-img {
  width: 250px;
  height: 250px;
  margin-bottom: 16px;
}

#form-register .register-left h1 {
  font-size: 32px;
  text-align: center;
}

#form-register .register-right {
  width: 550px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#form-register .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0;
}

/*----- OPCION 1 -----*/
/* #form-register .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
} */
/*--------------------*/

/*----- OPCION 2 -----*/
#form-register .input-box input {
  width: 100%;
  height: 100%;
  background: #0B62E0;
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
/*--------------------*/

#form-register .input-box input::placeholder {
  color: #fff;
}

#form-register .input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/*----- OPCION 1 -----*/
/* #form-register .btn {
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  color: #0B62E0;
  font-weight: 600;
} */

/*----- OPCION 2 -----*/
#form-register .btn {
  width: 100%;
  height: 50px;
  background: #FFF;
  border: #0B62E0;
  outline: auto;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(11, 100, 224);
  cursor: pointer;
  font-size: 20px;
  color: #0B62E0;
  font-weight: 600;
}

#form-register .btn:hover {
  background: #0B62E0;
  color: #FFF;
}

#form-register p {
  text-align: center;
}

#form-register h1 {
  text-align: center;
}

#form-register a {
  color: #0B62E0;
  text-decoration: none;
}

#form-register a:hover {
  transform: scale(1.4);
  text-decoration: underline;
}

/* ----- Media query para pantallas pequeñas ----- */
@media (max-width: 320px) {
  /* Cambia el formulario a una columna en pantallas pequeñas */
  #form-register {
    width: 100%;
    max-width: 320px;
    flex-direction: column; /* Ahora en una columna */
    padding: 12px;
  }
  #form-register .register-left {
    width: 100%; /* Asegúrate de que el logo ocupe todo el ancho en pantallas pequeñas */
    margin-bottom: 15px;
  }
  #form-register .register-right {
    width: 100%; /* La sección derecha ahora también ocupa todo el ancho */
    padding: 0;
  }
  #form-register .logo-img {
    width: 150px; /* Reduce el tamaño del logo en pantallas pequeñas */
    height: auto;
  }
  #form-register .input-box {
    margin: 8px 0; /* Ajusta el margen para las cajas de entrada */
  }
}

/* ----- Media query para pantallas pequeñas-medias ----- */
@media (min-width: 321px) and (max-width: 480px) {
  #form-register {
    max-width: 375px;
    flex-direction: column;
    padding: 12px;
  }
  #form-register .register-left {
    width: 100%; /* Asegúrate de que el logo ocupe todo el ancho en pantallas pequeñas */
    margin-bottom: 15px;
  }
  #form-register .register-right {
    width: 100%; /* La sección derecha ahora también ocupa todo el ancho */
    padding: 0;
  }
  #form-register .logo-img {
    width: 170px; /* Ajusta el tamaño del logo para pantallas pequeñas-medias */
    height: auto;
  }
  #form-register .input-box {
    margin: 15px 0; /* Ajusta el margen para las cajas de entrada */
  }
}

/* ----- Media query para pantallas medias ----- */
@media (min-width: 481px) and (max-width: 568px) {
  #form-register {
    max-width: 568px;
    flex-direction: column;
    padding: 12px;
  }
  #form-register .register-left {
    width: 100%; /* Asegúrate de que el logo ocupe todo el ancho en pantallas pequeñas */
    margin-bottom: 15px;
  }
  #form-register .register-right {
    width: 100%; /* La sección derecha ahora también ocupa todo el ancho */
    padding: 0;
  }
  #form-register .logo-img {
    width: 120px; /* Ajusta el tamaño del logo para pantallas medias */
    height: auto;
  }
}

/* ----- Media query para pantallas grandes ----- */
@media (min-width: 569px) and (max-width: 768px) {
  #form-register {
    max-width: 569px;
    flex-direction: column;
    padding: 12px;
  }
  #form-register .logo-img {
    width: 150px; /* Ajusta el tamaño del logo para pantallas grandes */
    height: auto;
  }
}

/* ----- Media query para pantallas extra grandes ----- */
@media (min-width: 769px) and (max-width: 1024px) {
  #form-register {
    max-width: 769px;
  }
  #form-register .logo-img {
    width: 180px; /* Ajusta el tamaño del logo para pantallas extra grandes */
    height: auto;
  }
}

/* ----- Media query para pantallas muy grandes ----- */
@media (min-width: 1025px) and (max-width: 1440px) {
  #form-register {
    max-width: 600px;
  }
  #form-register .logo-img {
    width: 200px; /* Ajusta el tamaño del logo para pantallas muy grandes */
    height: auto;
  }
}


/* Estilos para breakpoint de 320px */
/* @media (max-width: 320px) {
  #form-container #form-register {
      flex-direction: column;
  }
  #form-register .register-left,
  #form-register .register-right {
      width: 100%;
      flex: 1;
      padding: 20px;
      display: block;
  }
} */ 